@font-face {
  font-family: 'Technor';
  src: url('../fonts/Technor-Semibold.woff2') format('woff2'),
       url('../fonts/Technor-Semibold.woff') format('woff'),
       url('../fonts/Technor-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Supreme';
  src: url('../fonts/Supreme-Regular.woff2') format('woff2'),
       url('../fonts/Supreme-Regular.woff') format('woff'),
       url('../fonts/Supreme-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
